In [1]:
from datetime import datetime, date, time

now = datetime.now()
now

datetime.datetime(2025, 7, 19, 15, 45, 30, 93615)

In [2]:
now.day

19

In [3]:
now.second

30

### A datetime could be formated using strftime

now.strftime('%m*%d-%Y')

### Strings can be converted to date using strptime()

datetime.strptime("19931101", "%Y%m%d")

In [20]:
birthday = datetime.strptime("19931101 100500", "%Y%m%d %H%M%S")

birthday.year

1993

### The difference between two datetime objects will generate a timedelta type

In [22]:
dt = datetime.now()
birthday = datetime(1993, 11, 1, 10, 5, 1)

difference = dt - birthday
difference

datetime.timedelta(days=11583, seconds=21047, microseconds=476228)

In [23]:
type(difference)

datetime.timedelta

In [24]:
difference.days

11583

In [25]:
# New datetime to sum with my life

dt2 = datetime.now()
summ = dt2 + difference # when datetime and timedelta are added together it generates a new datetime
summ

datetime.datetime(2057, 4, 5, 21, 48, 15, 528652)