In [1]:
lst = ['bruno', 'banana', 'apple', 'lista', 'franci', 'pastel', 'abacate', 'abacaxi', 'borboleta', 'pato']

In [5]:
dict_letter = {}

for l in lst:
    letter = l[0]
    if letter not in dict_letter:
        dict_letter[letter] = [l]
    else:
        dict_letter[letter].append(l)

In [6]:
dict_letter

{'b': ['bruno', 'banana', 'borboleta'],
 'a': ['apple', 'abacate', 'abacaxi'],
 'l': ['lista'],
 'f': ['franci'],
 'p': ['pastel', 'pato']}

## O mesmo fluxo acima poderia ser escrito desse jeito com *setdefault*

In [8]:
by_letter = {}

for l in lst:
    letter = l[0]
    by_letter.setdefault(letter, []).append(l)

by_letter

{'b': ['bruno', 'banana', 'borboleta'],
 'a': ['apple', 'abacate', 'abacaxi'],
 'l': ['lista'],
 'f': ['franci'],
 'p': ['pastel', 'pato']}

## o módulo interno collections deixa mais fácil ainda com o *defaultdict*

In [9]:
from collections import defaultdict

by_letter = defaultdict(list)

for l in lst:
    by_letter[l[0]].append(l)

In [10]:
by_letter

defaultdict(list,
            {'b': ['bruno', 'banana', 'borboleta'],
             'a': ['apple', 'abacate', 'abacaxi'],
             'l': ['lista'],
             'f': ['franci'],
             'p': ['pastel', 'pato']})

## Brincando de dict e list compreehension

In [54]:
produtos = [
    {'nome': 'Globo terrestre', 'preco': 210.5},
    {'nome': 'Xícara', 'preco': 23.5},
    {'nome': 'Caneta', 'preco': 3.40},
    {'nome': 'Smartphone', 'preco': 3155.0},
]

produtos_com_desconto = [{**produto, 'preco': round(produto['preco'] * 0.9, 2)} for produto in produtos if produto['preco'] > 50]

produtos_com_desconto

[{'nome': 'Globo terrestre', 'preco': 189.45},
 {'nome': 'Smartphone', 'preco': 2839.5}]

In [57]:
lst = [
        ['Bruno', 'Jorge', 'Xitao'],
        ['Franci', 'Barbara', 'Marcela']
      ]

filtrar_por_inicial = [
    n
    for l in lst
    for n in l
    if n.lower().startswith('b')
]

filtrar_por_inicial

['Bruno', 'Barbara']

## Brincando com Set comprehension

In [46]:
lista = ['Bruno', 'Tonho', 'Nina', 'Salem', 'Francieli', 'Pietra', 'Luciana', 'Gilberto', 'Guilherme']
tamanhos = {len(nome) for nome in lista}

maisculos_maiores_que_6 = [nome.upper() for nome in lista if len(nome) > 6]
maisculos_maiores_que_6

['FRANCIELI', 'LUCIANA', 'GILBERTO', 'GUILHERME']

## Brinicando com Map

In [48]:
set(map(len, lista))

{4, 5, 6, 7, 8, 9}

In [52]:
def func(n):
    if type(n) == str:
        return n.upper()
    return 'h'

list(map(func, lista))

['BRUNO',
 'TONHO',
 'NINA',
 'SALEM',
 'FRANCIELI',
 'PIETRA',
 'LUCIANA',
 'GILBERTO',
 'GUILHERME']

## Map com Lambda

In [53]:
list(map(lambda x: x.upper(), lista))

['BRUNO',
 'TONHO',
 'NINA',
 'SALEM',
 'FRANCIELI',
 'PIETRA',
 'LUCIANA',
 'GILBERTO',
 'GUILHERME']

## Brincando com Itertools

In [60]:
import itertools

# Grouping (just consecutive) names by first letter using itertools

def first_letter(x):
    return x[0]

names = ['Xitão', 'Maria', 'Joãozinho', 'Mario', 'Jorge', 'Jaime', 'Alexa', 'Bruno', 'Bond - James Bond', 'Xuxa - so p baixinhos']

for letter, names in itertools.groupby(names, first_letter):
    print(letter, list(names))

X ['Xitão']
M ['Maria']
J ['Joãozinho']
M ['Mario']
J ['Jorge', 'Jaime']
A ['Alexa']
B ['Bruno', 'Bond - James Bond']
X ['Xuxa - so p baixinhos']

In [68]:
from itertools import permutations

# Creates a list with all the possible permutations from the iterable (the order is respected here)
lst = list(permutations([1,2,3]))

lst2 = list(permutations(('A', 'B')))

print(lst)
print(lst2)

[(1, 2, 3), (1, 3, 2), (2, 1, 3), (2, 3, 1), (3, 1, 2), (3, 2, 1)]
[('A', 'B'), ('B', 'A')]

In [79]:
from itertools import combinations

# Creates a list with all the possible combinations from the iterable (ignores the order)
names = list(combinations(['Bruno', 'Teste', 'João', 'Silva', 'Banana'], 3))

print(names)

[('Bruno', 'Teste', 'João'), ('Bruno', 'Teste', 'Silva'), ('Bruno', 'Teste', 'Banana'), ('Bruno', 'João', 'Silva'), ('Bruno', 'João', 'Banana'), ('Bruno', 'Silva', 'Banana'), ('Teste', 'João', 'Silva'), ('Teste', 'João', 'Banana'), ('Teste', 'Silva', 'Banana'), ('João', 'Silva', 'Banana')]

In [85]:
from itertools import product

list1 = [1, 2]
list2 = ['A', 'B']

# Cartesian product of list1 and list2
result1 = list(product(list1, list2))
print(result1)

# Output: [(1, 'A'), (1, 'B'), (2, 'A'), (2, 'B')]

# Cartesian product with repeat
result2 = list(product(list1, repeat=2))
print(result2)

# Output: [(1, 1), (1, 2), (2, 1), (2, 2)]

[(1, 'A'), (1, 'B'), (2, 'A'), (2, 'B')]
[(1, 1), (1, 2), (2, 1), (2, 2)]